body{
	font-family: verdana;
	text-align: center;
}
div{
	border-radius: 15px;
	color: white;
	font-size: 20px;	
	width: 100px;
	height: 100px;
	margin: 20px 10px;
	position: relative;
	padding: 5px;
	line-height: 100px;
	border-right: 4px groove;
	text-shadow: 2px 2px 5px grey;
}
.color1{
	background: #9C55A5;
}
.color2{
	background: #CCE033;
}
.color3{
	background: #57CADD;
}
.color4{
	background: #ffab52;
}
.color5{
	background: #2AB8AC;
}
.color6{
	background: #FF8D8D;
}